* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: rgb(34 34 34);
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}
.pricingContainer {

  margin: 7% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.planCard {
  background-color: rgb(24 24 24);
  padding: 2rem 0 0;
  border-radius: 18px;
  box-shadow: 7px 0px 13px 1px rgba(18, 18, 18, 0.597);
  overflow: hidden;
  position: relative;
  width: 21rem;
  height: 26rem;
}
.planCard .heading {
  text-align: center;
  margin-bottom: 70px;
}

.planCard .heading h2 > small{
    font-size: 16px;
}
.planCard .heading aside{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4px;
}
.planCard .benefits {
  position:absolute;
  bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height:45%;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planCard .benefits svg {
  position: absolute;
  bottom: 188px;
}

.planCard .benefits ul {
  margin: .8rem 0 2rem;
  z-index: 1;
}
.planCard .benefits ul > li {
  list-style: none;
  color: #ffff;
  text-align: center;
}
.planCard .benefits ul > li + li {
  margin-top: 12px;
}
.planCard .benefits button {
  width: 178px;
  height: 36px;
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  font-family:  'Trebuchet MS', sans-serif;
  font-size: 16px;
  transition: .5s all ease-in;
}
/* styling for different card */
.planCard:not(:nth-child(2)) .heading h2{
    color:  #EC596B;
    font-size: 32px;
}
.planCard:not(:nth-child(2)) .heading aside{
    color:  #EC596B;
}
.planCard:not(:nth-child(2)) .benefits button {
    border: 1px solid #EC596B;
    color: #EC596B;
}
.planCard:not(:nth-child(2)) .benefits button:hover {
    background-color: #EC596B;
    color: #0e0e0e;
}
.planCard:nth-child(2) .heading h2{
    font-size: 38px;
    color: #62D4FE;
}
.planCard:nth-child(2) .heading aside{
    color: #62D4FE;
}
.planCard:nth-child(2) .benefits button{
    border: 1px solid #62D4FE;
    color: #62D4FE;
}
.planCard:nth-child(2) .benefits button:hover{
    background-color: #62D4FE;
    color: #0e0e0e;
}

.path-1 {
  margin-bottom: 1rem;
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 75.61387839230505,489.444177258674 151.2277567846101,512.888354517348 213,496 C 274.7722432153899,479.111645482652 322.70285125386465,421.89075918928205 383,425 C 443.29714874613535,428.10924081071795 515.9608381999313,491.5486087255239 585,527 C 654.0391618000687,562.4513912744761 719.4537959464102,569.9148059086225 785,544 C 850.5462040535898,518.0851940913775 916.223978014428,458.79216763998625 1000,461 C 1083.776021985572,463.20783236001375 1185.6502919958775,526.9165235314325 1262,538 C 1338.3497080041225,549.0834764685675 1389.1748540020612,507.54173823428374 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 72.31879079354175,492.1635176915149 144.6375815870835,518.3270353830299 212,501 C 279.3624184129165,483.6729646169701 341.76846444520777,422.8553761593954 419,405 C 496.23153555479223,387.1446238406046 588.2885606320853,412.25145997938847 649,439 C 709.7114393679147,465.74854002061153 739.0772930264512,494.1387839230505 795,514 C 850.9227069735488,533.8612160769495 933.4022672621093,545.1934043284095 1005,519 C 1076.5977327378907,492.8065956715905 1137.3136379251116,429.0875987633115 1208,414 C 1278.6863620748884,398.9124012366885 1359.343181037444,432.45620061834427 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 70.4726897973205,512.1449673651666 140.945379594641,558.2899347303332 216,547 C 291.054620405359,535.7100652696668 370.6911714187564,466.9852284438337 432,467 C 493.3088285812436,467.0147715561663 536.2899347303332,535.7691514943318 590,535 C 643.7100652696668,534.2308485056682 708.1490896599107,463.93816557883883 788,424 C 867.8509103400893,384.06183442116117 963.1137066300239,374.47818619031267 1032,409 C 1100.886293369976,443.52181380968733 1143.3960838199932,522.1490896599107 1207,539 C 1270.6039161800068,555.8509103400893 1355.3019580900034,510.92545517004464 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 67.41394709721746,451.64273445551356 134.82789419443492,437.2854689110271 204,422 C 273.1721058055651,406.7145310889729 344.1023703194778,390.500858811405 416,405 C 487.8976296805222,419.499141188595 560.7626245276538,464.71109584335284 639,465 C 717.2373754723462,465.28890415664716 800.8471315699072,420.6547578151838 857,413 C 913.1528684300928,405.3452421848162 941.8488491927174,434.669872895912 1010,461 C 1078.1511508072826,487.330127104088 1185.7574716592237,510.66575060116804 1264,511 C 1342.2425283407763,511.33424939883196 1391.1212641703883,488.667124699416 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 75.61387839230505,489.444177258674 151.2277567846101,512.888354517348 213,496 C 274.7722432153899,479.111645482652 322.70285125386465,421.89075918928205 383,425 C 443.29714874613535,428.10924081071795 515.9608381999313,491.5486087255239 585,527 C 654.0391618000687,562.4513912744761 719.4537959464102,569.9148059086225 785,544 C 850.5462040535898,518.0851940913775 916.223978014428,458.79216763998625 1000,461 C 1083.776021985572,463.20783236001375 1185.6502919958775,526.9165235314325 1262,538 C 1338.3497080041225,549.0834764685675 1389.1748540020612,507.54173823428374 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
}

@media only screen and (max-width: 1024px){
  .planCard{
    width: 18rem;
    height: 26rem;
  }
  #businessCard .heading h2{
    font-size: 34px;
  }
  #enterpriseCard .heading h2, #freelancerCard .heading h2{
    font-size: 30px;
  }
  .planCard .benefits button {
    font-size: 14px;
    width: 160px;
  }
}
@media only screen and (max-width: 916px){
  .pricingContainer {
    width:800px;
    gap: 12px;
  }
}
@media only screen and (max-width: 813px){
  .pricingContainer{
    display: grid;
    grid-gap: 22px;
  }
}