*{
    margin:0;
    padding: 0;
    box-sizing:content-box;
}
body{
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', sans-serif
}
.wrapper{
    height: 430px;
    max-width: 400px;
    padding: 1rem 2rem;
    border-radius: 0.4em;
    background-color: #282828;
    box-shadow: 0 10px 10px 3px rgb(23, 20, 20);
}
.wrapper hr{
    width:100%;
    border-style: none;
    border:1px solid #3b3f4969;
}
.wrapper #followers{
    display: flex;
    align-items: center;
    justify-content: space-between!important;
}
.wrapper #followers:not(:last-child){
    margin-bottom: 1rem;
}
.wrapper #followers:not(:first-child){
    margin-top: 1rem;
}
#followers img{
    width:100px;
    height:110px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.wrapper #followers .info{
    margin-left: 2rem;
}
#followers .info .profile h4{
    color: white;

}
#followers .info .profile small{
    color:#656e81 ;
    font-size: 14px;
}
#followers .info .buttons{
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
#followers .info .buttons button i{
    margin-right:8px;
    font-size: .6rem;
}
#followers .info .buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#followers .info .buttons button:nth-child(1){
    border-style: none;
    width:6rem;
    height:2rem;
    border:2px solid #ef4100;
    background-color: transparent;
    color:white;
    border-top-left-radius: 28px;
    border-bottom-left-radius:28px;
    transition: .7s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
#followers .info .buttons button:nth-child(1):hover{
    color: white;
    background-color: #ef4100;
    border-top-left-radius: 28px;
    border-bottom-left-radius:28px;
    font-size: 12px;
    border-color: #ef4100;
}
#followers .info .buttons .follow-btn::after{
    content: "Follow";
}
#followers .info .buttons button:nth-child(2){
    border-style: none;
    width:6rem;
    height:2rem;
    border:2px solid transparent;
    background-color: #ef4100;
    color:white;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    transition: .7s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', sans-serif
}
#followers .info .buttons button:nth-child(2):hover{
    color: white;
    background-color: orangered;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    font-size: 12px;
}

#followers .info .buttons .follow-btn.active {
    background-color: #d83c03;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#followers .info .buttons .follow-btn.active::after{
    content: "Following";
}
#followers .info .buttons .follow-btn.active i{
    display: none;
}